<% module_namespacing do -%>
module <%= module_name.capitalize %>
  module Ui
    class Create<%= class_name %>Validator < ApplicationContract
      params do
        <%= contract_definition.join("\n        ") %>
      end
    end
  end
end
<% end %>