<% module_namespacing do -%>
module <%= module_name.capitalize %>
  module Ui
    class ListQuery < ApplicationStruct
      attribute? :q, Types::Any.default({}.freeze)
      attribute? :page, Types::Coercible::Integer.default(1.freeze)
      attribute? :page_size, Types::Coercible::Integer.default(Pagy::DEFAULT[:items].freeze)
    end
  end
end
<% end %>