<header>
  <nav>
    <button id="hamburgerMenu" class="circle transparent" data-controller="drawer" data-drawer-element-id-value="dialog-navigation-drawer" data-action="click->drawer#toggle">
      <i>menu</i>
    </button>

    <div class="max"></div>

    <button class="circle transparent" data-controller="theme" data-action="click->theme#toggle" onclick="this.blur();">
      <i>dark_mode</i>
    </button>
  </nav>
</header>