<% module_namespacing do -%>
<div class="row">
  <h4 class="max">Edit <%= class_name %></h4>
</div>

<%%= render 'form', url: <%= class_name.downcase %>_path(id: params[:id], page: params[:page], q: params[:q].as_json), method: :patch, button_text: 'Update' %>
<% end %>