<% module_namespacing do -%>
<div class="row">
  <h4 class="max">Add <%= class_name %></h4>
</div>

<%%= render 'form', url: <%= class_name.pluralize.downcase %>_path, method: :post, button_text: 'Save' %>
<% end %>