<% module_namespacing do -%>
module <%= module_name.capitalize %>
  module Domain
    class <%= class_name %> < ApplicationRecord
      self.table_name = "<%= class_name.pluralize.downcase %>"
    end
  end
end
<% end %>