module App
  class Container < Dry::System::Container
    register('contract_validator') { ContractValidator.new }
  end
end

Import = App::Container.injector

Rails.configuration.after_initialize do
  Dir[File.join(Rails.root, '*', 'lib', '*', 'infra', 'system', 'provider_source.rb')].each do |file|
    require File.join(File.dirname(file), File.basename(file, File.extname(file)))
  end
end