<% module_namespacing do -%>
Rails.application.config.paths.add '<%= module_name %>/lib', load_path: true, autoload: true
Rails.application.config.paths['db/migrate'] << '<%= module_path %>/infra/db/migrate'
Rails.application.config.paths['app/views'] << '<%= module_name %>/lib'
Rails.application.config.importmap.paths << Rails.root.join('<%= module_name %>/lib/<%= module_name %>/infra/config/importmap.rb')
Rails.application.config.assets.paths << Rails.root.join("<%= module_name %>/lib/<%= module_name %>/ui/javascript/controllers")
<% end %>